{% extends '::base.html.twig' %}

{% block body -%}
    <!-- row -->
    <div class="row">

        <!-- col -->
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark"><!-- PAGE HEADER --><i class="fa-fw fa fa-home"></i> Maestro de Empleado/Cliente</h1>
        </div>
        <!-- end col -->
        <!-- right side of the page with the sparkline graphs -->
    </div>
    <!-- end row -->
    <!--
    The ID "widget-grid" will start to initialize all widgets below
    You do not need to use widgets if you dont want to. Simply remove
    the <section></section> and you can use wells or panels instead
    -->
    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <table id="list"></table>
                <div id="pager"></div>
            </article>
            <!-- WIDGET END -->
        </div>
        <!-- end row -->
    </section>
    <!-- end widget grid -->
<!-- END MAIN CONTENT -->
{% endblock %}
{% block javascripts%}
<script>
$(document).ready(function(){

    var editUrl = '{{ path('empleadocliente_edit', {id:'__id'}) }}';
    $('#list').jqGrid({
        url:'{{path('empleadocliente_list')}}',
        datatype: 'json',
        colNames: ['Id', 'Empleado', 'Cliente', 'Punto Venta','Fecha Asignacion', 'Meta Visitas Mes', 'Meta Venta Mes', 'Activo','Editar'],    
        colModel: [
            {name:'id', index:'id', jsonmap:'id', key:true, width:20, hidden:true },
            {name:'empleado', index:'empleado', jsonmap:'empleado', width: 100},
            {name:'cliente', index:'cliente', jsonmap:'cliente', width:120,  align:'left' },
            {name:'puntoVenta', index:'puntoVenta', jsonmap:'puntoVenta', width:120,  align:'left'},
            {name:'fechaAsignacion', index:'fechaAsignacion', jsonmap:'fechaAsignacion', width:80, search:true, align:'left', formatter:dateF},
            {name:'metaVisitasMes', index:'metaVisitasMes', jsonmap:'metaVisitasMes', width:80, search:true, align:'right'},
            {name:'metaVentasMes', index:'metaVentasMes', jsonmap:'metaVentasMes', width:80, search:true, align:'right', formatter:currency},
            {name:'estado', index:'estado', jsonmap:'estado',width:30, formatter:status, align:'center'},
            {name:'actions', index:'id', jsonmap:'id', width:30, align:'center', search:false, sortable:false, formatter:editar, formatoptions: {url: editUrl}},
        ],
        loadComplete: jqGridLayout
    });

    $('#list').jqGrid('filterToolbar',{stringResult: true,searchOnEnter : false, defaultSearch:'cn'});
});
</script>
{%endblock%}


