{% extends '::base.html.twig' %}
{% block body -%}

    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark"><!-- PAGE HEADER --><i class="fa-fw fa fa-institution"></i> Maestro de Puntos de Venta</h1>
        </div>
    </div>

    <!-- widget grid -->
    <section id="widget-grid" class="">
        
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <table id="list"></table>
                <div id="pager"></div>
            </article>
            <!-- WIDGET END -->
        </div>
        
    </section>
    <!-- end widget grid -->
<!-- END MAIN CONTENT -->
{% endblock %}
{% block javascripts%}
<script>
$(document).ready(function(){

    var editUrl = '{{ path('puntoventa_edit', {id:'__id'}) }}';
    
    $('#list').jqGrid({
        url:'{{path('puntoventa_list')}}',
		datatype: 'json',
        colNames: ['Id', 'Cliente', 'Punto de Venta', 'Direcci&oacute;n', 'Telefono1', 'E-mail', 'Activo', ''],
        colModel: [
            {name:'id', index:'id', jsonmap:'id', key:true, hidden:true},
            {name:'cliente', index: 'cliente',jsonmap:'cliente', width:100, search:true},
            {name:'nombre', index: 'nombre',jsonmap:'nombre', width:80},
            {name:'direccion', index:'direccion', jsonmap:'direccion', width:150},
            {name:'telefono1', index:'telefono1', jsonmap:'telefono1', width:60, align:'center'},
            {name:'correoElectronico', index: 'correoElectronico', jsonmap:'correoElectronico', width:130},
            {name:'estado', index:'estado', jsonmap:'estado', width:30, align:'center', formatter:status},
            {name:'actions', index:'id', jsonmap:'id', width:30, align:'center', search:false, sortable:false, formatter:editar, formatoptions: {url: editUrl }},
        ],
        loadComplete: jqGridLayout  
    });

    $('#list').jqGrid('filterToolbar',{stringResult: true, searchOnEnter: false, defaultSearch: 'cn'});
});
</script>
{%endblock%}
