<div id="location" class="widget-body-toolbar"></div>
<div id="map_canvas" class="google_maps"></div>
{%block javascripts%}
<script>
  var x = $('#location');

  function initialize() {
    var mapCanvas = document.getElementById('map_canvas');
    var mapOptions = {
      center: new google.maps.LatLng(4.5979009, -74.07556360000001),
      zoom: 8,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }

    var map = new google.maps.Map(mapCanvas, mapOptions);

    {%for cita in citas %}
      var latLng = new google.maps.LatLng({{cita.puntoVenta.latitud}}, {{cita.puntoVenta.longitud}});
      var marker = new google.maps.Marker({
        position: latLng,
        map: map,
        title: '{{cita.puntoVenta}}'
      });
    {%endfor%}
  }
  
  function getLocation() {
      if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(showPosition);
      } else {
          x.html('La Geolocalización no esta soportada por su dispositivo');
      }
  }

  function showPosition(position) {
    x.html('Su posicion actual es Latitud: ' + position.coords.latitude + ', Longitud: ' + position.coords.longitude);
  }

  $(document).ready(function(){
    initialize();
    getLocation();
  });
</script>
{%endblock%}
