<div>
<!-- Widget ID (each widget will need unique ID)-->
<div class="jarviswidget jarviswidget-color-teal col-xs-8 col-md-6" id="wid-id-7" data-widget-editbutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false">
    <header>
        <span class="widget-icon"> <i class="fa fa-map-marker"></i> </span>
        <h2>Ruta de Hoy (Mapa) </h2>
    </header>
    <div>
        <div class="jarviswidget-editbox">
        </div>
        <div class="widget-body no-padding">
            <div id="map_canvas7" class="google_maps"></div>
        </div>
    </div>
</div>
<!-- end widget -->
<div class="jarviswidget jarviswidget-color-teal col-xs-6 col-md-offset-2">
    <header>
        <span class="widget-icon"> <i class="fa fa-arrow-left"></i> </span>
        <h2>Mi Ruta de Hoy </h2>
    </header>
    <div class="widget-body-toolbar">

											<div class="row">

												<div class="col-xs-9 col-sm-5 col-md-5 col-lg-5">
													<div class="input-group">
														<span class="input-group-addon"><i class="fa fa-search"></i></span>
														<input type="text" placeholder="Filter" id="prepend" class="form-control">
													</div>
												</div>
												<div class="col-xs-3 col-sm-7 col-md-7 col-lg-7 text-right">

													<button class="btn btn-success">
														<i class="fa fa-plus"></i> <span class="hidden-mobile">Add New Row</span>
													</button>

												</div>

											</div>



										</div>
    <div class="widget-body">
        <form action="" id="">


        </form>
    </div>
</div>
</div>
