{%for m in mensajes%}
    <ul>
        <li class="message">
            <img src="{{asset('img/avatars/male.png')}}" class="online" alt="">
            <div class="message-text">
                <time>
                    {{m.fecha|date("Y-m-d H:i:s")}}
                </time> <a href="javascript:void(0);" class="username">{{m.NombreDe}}</a> {{m.mensaje}}
            </div>
        </li>
    </ul>
{%else%}
    <div class="alert alert-danger">
    <h4>
        <i class="fa fa-warning"></i>
        Atenci&oacute;n!
    </h4>
    No tiene mensajes
    </div>
{%endfor%}
