{% extends '::base.html.twig' %}

{% block body -%}
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-home"></i> Tipo de Cliente</h1>
        </div>
    </div>

    <!-- widget grid -->
    <section id="widget-grid" class="">
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <table id="list"></table>
                <div id="pager"></div>
            </article>
            <!-- WIDGET END -->
        </div>
    </section>
    <!-- end widget grid -->
{% endblock %}
{% block javascripts%}
<script>
$(document).ready(function(){
    
    var editUrl = '{{ path('tipocliente_edit',{id:'__id'}, {id:'__id'}) }}';
    $('#list').jqGrid({
        url: '{{path('tipocliente_list')}}',
        datatype: 'json',
        colNames: ['Id', 'Nombre', 'Activo', ''],
        colModel: [
            {name:'id', index:'id', jsonmap:'id', key:true, hidden:true},
            {name:'nombre', index:'nombre', jsonmap:'nombre', width:100, search:true},
            {name:'estado', index:'estado', jsonmap:'estado', width:30, formatter:status, align:'center'},
            {name:'actions', index:'id', jsonmap:'id', width:30, align:'center',search:false, sortable:false, formatter:editar, formatoptions:{url:editUrl}},
        ],
        loadComplete: jqGridLayout
    });

    $('#list').jqGrid('filterToolbar', {stringResult: true, searchOnEnter: false, defaultSearch: 'cn'});

    // add button
    $('<div id="add_button" class="btn btn-sm btn-primary"><span class="fa fa-plus"></span></div>').appendTo('#list_actions');

    $('#add_button').on('click', function(){
        location.href = '{{ path('tipocliente_new') }}';
    });
});
</script>
{%endblock%}
