{% extends '::base.html.twig' %}

{% block body -%}
<!-- MAIN CONTENT -->
<div id="content">

    <!-- row -->
    <div class="row">

        <!-- col -->
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark"><!-- PAGE HEADER --><i class="fa-fw fa fa-home"></i> Maestro de Productos <span>>
                SmathSales </span></h1>
        </div>
        <!-- end col -->
        <!-- right side of the page with the sparkline graphs -->
        <!-- col -->
        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
            <!-- sparks -->
            <ul id="sparks">
                <li class="sparks-info">
                    <h5> My Income <span class="txt-color-blue">$47,171</span></h5>
                    <div class="sparkline txt-color-blue hidden-mobile hidden-md hidden-sm">
                        1300, 1877, 2500, 2577, 2000, 2100, 3000, 2700, 3631, 2471, 2700, 3631, 2471
                    </div>
                </li>
                <li class="sparks-info">
                    <h5> Site Traffic <span class="txt-color-purple"><i class="fa fa-arrow-circle-up" data-rel="bootstrap-tooltip" title="Increased"></i>&nbsp;45%</span></h5>
                    <div class="sparkline txt-color-purple hidden-mobile hidden-md hidden-sm">
                        110,150,300,130,400,240,220,310,220,300, 270, 210
                    </div>
                </li>
                <li class="sparks-info">
                    <h5> Site Orders <span class="txt-color-greenDark"><i class="fa fa-shopping-cart"></i>&nbsp;2447</span></h5>
                    <div class="sparkline txt-color-greenDark hidden-mobile hidden-md hidden-sm">
                        110,150,300,130,400,240,220,310,220,300, 270, 210
                    </div>
                </li>
            </ul>
            <!-- end sparks -->
        </div>
        <!-- end col -->
    </div>
    <!-- end row -->
    <!--
    The ID "widget-grid" will start to initialize all widgets below
    You do not need to use widgets if you dont want to. Simply remove
    the <section></section> and you can use wells or panels instead
    -->
    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <table id="list"></table>
                <div id="pager"></div>
            </article>
            <!-- WIDGET END -->
        </div>
        <!-- end row -->
    </section>
    <!-- end widget grid -->
</div>
<!-- END MAIN CONTENT -->
{% endblock %}
{% block javascripts%}
<script>
    $(document).ready(function(){
         $('#list').jqGrid({
                url:'{{path('producto_list')}}',
				datatype: "json",

                colNames: ['Id', 'Linea', 'Referencia','Descripcion',  'Nombre', 'Estado', 'Editar'],
                jsonReader : {
				      root: "rows",
				      page: "page",
				      total: "total",
				      records: "records",
				      repeatitems: false,
				      //cell: "row",
				      id: "id"
				      },
                colModel: [
                    { name: 'id', index: 'id',jsonmap:"id",key: true, width: 20, sorttype: "int", search:false, align:'center',hidden:true },
                    { name: 'linea', index: 'linea',jsonmap:"linea", width: 100,  search:true, align:'left' },
                    { name: 'referencia', index: 'referencia',jsonmap:'Referencia', width: 80,  align:'left' },
                    { name: 'descripcion', index: 'descripcion',jsonmap:'Descripcion' ,width: 120, align:'left' },
                    { name: 'nombre', index: 'nombre',jsonmap:'Nombre', width: 70 },
                    { name: 'estado', index: 'estado', jsonmap:'Estado',width: 70 },
                    { name: 'actions', index: 'id',jsonmap:"id", width: 80,align:'center',search:false, sort:false, formatter:editar },

                    ],
                pager: '#pager',
                rowNum: 20,

                rowList: [20,30, 50, 70, 100],
                sortname: 'id',
                sortorder: 'desc',
                viewrecords: true,
                gridview:true,
                autowidth: true,
                height: '100%',
                /*loadComplete: function() {
					    $("tr.jqgrow:odd").css("background", "#FCF8F4");
					}*/
                });

                $(".ui-pg-input").attr("style","width:10px;height:20px");
                $(".ui-pg-selbox").attr("style","width:60px; height:20px; ");

                function dateF(cellvalue, options, rowObject){
                	 return cellvalue.date.toString('yyyy-mm-dd');
                }
                function editar(cellvalue, options, rowObject){
                    html = '<a href="{{path('producto_edit',{id:'__id'})}}" class="btn btn-mini"><i class="fa fa-edit"></i></a>'.replace('__id',cellvalue);
                    return html;

                }
    });
    $(document).ready(function(){
        	$("#list").jqGrid('filterToolbar',{stringResult: true,searchOnEnter : false, defaultSearch:'cn'});
        });
</script>
{%endblock%}
