{% extends '::base.html.twig' %}

{% block body -%}
    
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-home"></i> Maestro de Productos</h1>
        </div>
    </div>
    
    <!-- widget grid -->
    <section id="widget-grid" class="">
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <table id="list"></table>
                <div id="pager"></div>
            </article>
            <!-- WIDGET END -->
        </div>
    </section>
    <!-- end widget grid -->
{% endblock %}
{% block javascripts%}
<script>
$(document).ready(function(){
    
    var editUrl = '{{ path('producto_edit', {id:'__id'}) }}';

    $('#list').jqGrid({
        url: '{{path('producto_list')}}',
		datatype: 'json',
        colNames: ['Id', 'Línea', 'Referencia', 'Descripción', 'Nombre', 'Pr. Com.', 'Pr. Farm.', 'Activo', ''],
        colModel: [
            {name:'id', index:'id', jsonmap:'id', key:true, hidden:true},
            {name:'linea', index:'linea', jsonmap:'linea', width:100, search:true},
            {name:'referencia', index:'referencia', jsonmap:'referencia', width:50},
            {name:'descripcion', index:'descripcion', jsonmap:'descripcion', width:120},
            {name:'nombre', index:'nombre', jsonmap:'nombre', width:120},
            {name:'precioUnidadComercial', index:'precioUnidadComercial', jsonmap:'precioUnidadComercial', width:40, align:'right', formatter:currency},
            {name:'precioFormaFarmaceutica', index:'precioFormaFarmaceutica', jsonmap:'precioUnidadComercial', width:40, align:'right', formatter:currency},
            {name:'estado', index:'estado', jsonmap:'estado', width:30, formatter:status, align:'center'},
            {name:'actions', index:'id', jsonmap:'id', width:30, align:'center', search:false, sortable:false, formatter:editar, formatoptions:{url: editUrl}},
        ],
        loadComplete: jqGridLayout
    });

    $('#list').jqGrid('filterToolbar',{stringResult: true, searchOnEnter: false, defaultSearch: 'cn'});
});
</script>
{%endblock%}
