{% extends '::base.html.twig' %}

{% block body -%}
    
    <div class="row">

        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark"><!-- PAGE HEADER --><i class="fa-fw fa fa-home"></i> Maestro de Empleados</h1>
        </div>

    </div>
    
    <!-- widget grid -->
    <section id="widget-grid" class="">
        
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <table id="list"></table>
                <div id="pager"></div>
            </article>
            <!-- WIDGET END -->
        </div>
        
    </section>
    <!-- end widget grid -->
<!-- END MAIN CONTENT -->
{% endblock %}
{% block javascripts%}
<script>
$(document).ready(function(){
    var editUrl = '{{ path('empleado_edit', {id:'__id'}) }}';
    $('#list').jqGrid({
        url:'{{path('empleado_list')}}',
		datatype: 'json',

        colNames: ['Id', 'C&oacute;digo', 'Nombre', 'Telefono', 'Departamento', 'Tipo Empleado', 'Geo Ubicaci&oacute;n', 'Activo', ''],
        colModel: [
            { name:'id', index:'id', jsonmap:'id', key:true, hidden:true },
            { name:'codigo', index:'codigo', jsonmap:'codigo', width:80, search:true },
            { name:'nombre', index:'nombre', jsonmap:'nombre', width:120 },
            { name:'telefono', index:'telefono', jsonmap:'telefono', width:80 },
            { name:'departamento', index:'departamento', jsonmap:'departamento', width:100 },
            { name:'tipoEmpleado', index:'tipoEmpleado', jsonmap:'tipoEmpleado', width:100 },
            { name:'geoUbicacion', index:'geoUbicacion', jsonmap:'geoUbicacion', width:100 },
            { name:'estado', index:'estado', jsonmap:'estado', width:30, formatter:status, align:'center' },
            { name:'actions', index:'id', jsonmap:'id', width:30, align:'center', search:false, sortable:false, formatter:editar, formatoptions: {url: editUrl}},
        ],
        loadComplete: jqGridLayout
    });
    $('#list').jqGrid('filterToolbar',{stringResult:true, searchOnEnter:false, defaultSearch:'cn'});
});
</script>
{%endblock%}