{%extends "::base.html.twig"%}
{%block body%}
     <h1>Bienvenidos a Smath Sales</h1>
    <p>Sistema de automatizaci&oacute;n de ventas</p>
    <img src="{{asset('img/demo/iphoneview.png')}}" class="pull-right display-image" alt="" style="width:210px">
{%endblock%}
