{% extends '::base.html.twig' %}

{% block body -%}

    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark"><!-- PAGE HEADER --><i class="fa-fw fa fa-home"></i> Maestro de Clientes</h1>
        </div>
    </div>

    <!-- widget grid -->
    <section id="widget-grid" class="">
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <table id="list"></table>
                <div id="pager"></div>
            </article>
            <!-- WIDGET END -->
        </div>
    </section>
    <!-- end widget grid -->
{% endblock %}
{% block javascripts%}
<script>
$(document).ready(function() {

    $('#list').jqGrid({
        url: '{{path('cliente_list')}}',
        datatype: 'json',
        colNames: ['Id', 'Raz&oacute;n Social', 'Tipo Cliente', 'Tipo Doc.', 'Num Doc.', 'Direcci&oacute;n', 'Tel&eacute;fono', 'Email', 'Activo', ''],
        colModel: [
            {name:'id', index:'id', jsonmap:'id', key:true, search:false, align:'center', hidden:true},
            {name:'razonSocial', index:'razonSocial', jsonmap:'razonSocial', width:100,  search:true, align:'left'},
            {name:'tipoCliente', index:'tipoCliente', jsonmap:'tipoCliente', width:100,  search:true, align:'left'},
            {name:'tipoDocumento', index:'tipoDocumento', jsonmap:'tipoDocumento', width:50,  align:'left'},
            {name:'numeroDocumento', index:'numeroDocumento', jsonmap:'numeroDocumento', width:80,  align:'left'},
            {name:'direccion', index:'direccion', jsonmap:'direccion', width:100, align:'left'},
            {name:'telefono', index:'telefono', jsonmap:'telefono', width:100},
            {name:'correoElectronico', index:'correoElectronico', jsonmap:'correoElectronico', width:100, align:'left'},
            {name:'estado', index:'estado', jsonmap:'estado', width:30, align:'center', formatter:status},
            {name:'actions', index:'id', jsonmap:'id', width:30, align:'center',search:false, sortable:false, formatter:editar, formatoptions:{url:'{{path('cliente_edit',{id:'__id'})}}'}},
        ],
        loadComplete: function() {
            jqGridLayout();
        }
    });

    $('#list').jqGrid('filterToolbar', {stringResult: true, searchOnEnter: false, defaultSearch: 'cn'});
});
</script>
{%endblock%}
