{% extends '::base.html.twig' %}

{% block body -%}
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-home"></i> Tipo de Producto</h1>
        </div>
    </div>
    
    <!-- widget grid -->
    <section id="widget-grid" class="">
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <table id="list"></table>
                <div id="pager"></div>
            </article>
            <!-- WIDGET END -->
        </div>
    </section>
    <!-- end widget grid -->
{% endblock %}
{% block javascripts%}
<script>
$(document).ready(function(){
    
    $('#list').jqGrid({
        url: '{{path('linea_list')}}',
        datatype: 'json',
        colNames: ['Id', 'C&oacute;digo', 'L&iacute;nea', 'Activo', ''],
        colModel: [
            {name:'id', index:'id', jsonmap:'id', key:true, hidden:true},
            {name:'codigo', index:'codigo', jsonmap:'codigo', width:100, search:true},
            {name:'descripcion', index:'descripcion', jsonmap:'descripcion', width:100},
            {name:'estado', index:'estado', jsonmap:'estado', width:30, formatter:status, align:'center'},
            {name:'actions', index:'id', jsonmap:'id', width:30, align:'center',search:false, sortable:false, formatter:editar, formatoptions:{url:'{{path('linea_edit',{id:'__id'})}}'}},
        ],
        loadComplete: function() {
            jqGridLayout()
        }
    });

    $('#list').jqGrid('filterToolbar',{stringResult: true, searchOnEnter: false, defaultSearch: 'cn'});
});
</script>
{%endblock%}

